@import 'nib'

$distance = 30

.likearts-content .bee-container
	position absolute
	top 0
	left 0
	perspective 600px

.likearts-content .bee
	position absolute
	width 40px
	height 40px
	@extend .cover
	transform-style preserve-3d
	background-image: url(../app/components/bee/img/bee.png)
	&--john
		top ($distance * 2)px
		left ($distance * 2)px
		animation motion--john 20s infinite ease-in-out


@keyframes motion--john {
	0% {
		transform translate(10px, 30px) 
	}
	20% {
		transform translate(1000px, 10px)
	}
	21%{
		transform translate(990px, 20px) rotateY(180deg)
	}
	40% {
		transform translate(800px, 30px) rotateY(180deg)
	}
	80% {
		transform translate(80px, 30px) rotateY(180deg)
	}
	100% {
		transform translate(20px, 20px)
	}
}
