<div card-id="{{ ::$ctrl.product.id }}" class="product-card">
  <img
    class="img-responsive product-card__pic"
    ng-src="{{ ::$ctrl.product.image }}"
    alt="Мёд">
  <div class="product-card__info">
    <h2
      card-name="{{ ::$ctrl.product.name }}"
      class="product-card__info-title">{{ ::$ctrl.product.name }}</h2>
    <div class="product-card__controls">
      <div class="product-card__volume">
        <div class="product-card__volume-item">
          <div
            ng-click="$ctrl.setVolume($event)"
            radio-value="500"
            class="product-card__radio-btn js-product-card__radio-btn js-product-card__radio-btn--active"></div>
          <div class="product-card__label">500 мл</div>
        </div>
        <div class="product-card__volume-item">
          <div
            ng-click="$ctrl.setVolume($event)"
            radio-value="1000"
            class="product-card__radio-btn js-product-card__radio-btn"></div>
          <div class="product-card__label">1000 мл</div>
        </div>
        <div class="product-card__volume-item">
          <div
            ng-click="$ctrl.setVolume($event)"
            radio-value="3000"
            class="product-card__radio-btn js-product-card__radio-btn"></div>
          <div class="product-card__label">3000 мл</div>
        </div>
      </div>
      <div class="product-card__amount">
        <div
          ng-click="$ctrl.setAmount($event, -1)"
          class="product-card__amount-btn product-card__amount-btn--decrement">
          <i class="material-icons product-card__amount-icon">remove</i>
        </div>
        <div class="product-card__amount-count js-product-card__amount-count">1</div>
        <div
          ng-click="$ctrl.setAmount($event, 1)"
          class="product-card__amount-btn product-card__amount-btn--increment">
          <i class="material-icons product-card__amount-icon">add</i>
        </div>
      </div>
      <div class="product-card__price">
        <span card-price>{{ ::$ctrl.product.price }} </span> &nbsp руб./литр
      </div>
    </div>
    <div ng-click="$ctrl.addToCart($event)" class="product-card__button">В корзину</div>
  </div>
</div>
