<div data-card-id="{{ ::$ctrl.product.id }}" class="product-card">
	<img class="img-responsive product-card__pic" data-ng-src="{{ ::$ctrl.product.image }}" alt="text">
	<div class="product-card__info">
		<h2 data-card-name="{{ ::$ctrl.product.name }}" class="product-card__info-title">{{ ::$ctrl.product.name }}</h2>
		<div class="product-card__controls">
			<div class="product-card__volume">
				<div class="product-card__volume-item">
					<div data-hm-tap="$ctrl.setVolume($event)" data-radio-value="500" class="product-card__radio-btn js-product-card__radio-btn js-product-card__radio-btn--active"></div>
					<div class="product-card__label">500 мл</div>
				</div>
				<div class="product-card__volume-item">
					<div data-hm-tap="$ctrl.setVolume($event)" data-radio-value="1000" class="product-card__radio-btn js-product-card__radio-btn"></div>
					<div class="product-card__label">1000 мл</div>
				</div>
				<div class="product-card__volume-item">
					<div data-hm-tap="$ctrl.setVolume($event)" data-radio-value="3000" class="product-card__radio-btn js-product-card__radio-btn"></div>
					<div class="product-card__label">3000 мл</div>
				</div>
			</div>
			<div class="product-card__amount">
				<div data-hm-tap="$ctrl.setAmount($event, -1)" class="product-card__amount-btn product-card__amount-btn--decrement">
					<i class="material-icons product-card__amount-icon">remove</i>
				</div>
				<div class="product-card__amount-count js-product-card__amount-count">1</div>
				<div data-hm-tap="$ctrl.setAmount($event, 1)" class="product-card__amount-btn product-card__amount-btn--increment">
					<i class="material-icons product-card__amount-icon">add</i>
				</div>
			</div>

			<div class="product-card__price">
				<span data-card-price>{{ ::$ctrl.product.price }} </span> &nbsp руб./литр
			</div>
		</div>
		<div data-hm-tap="$ctrl.addToCart($event)" class="product-card__button">В корзину</div>
	</div>
</div>