@import 'nib'

.likearts-content .products
	width calc(100% - 30px)
	margin 0 auto

.likearts-content .products__carousel-item
	@extend .flex
	flex-flow row wrap

.likearts-content .product-card
	width calc(50% - 20px)
	height auto
	max-width 282px
	background-color #fff
	margin 10px
	border-radius 2px
	@extend .paper-shadow-z2
	@media screen and (max-width: 480px)
		width calc(100% - 20px)
		
	&__pic
		margin 0 auto
		
	&__info
		padding 10px
		
	&__info-title
		font-size 2.4rem
		font-weight 700
		text-align center
		color #47525b
		margin 0
		@media screen and (max-width: $phone)
			font-size 1.5rem
			
	&__button
		width 100%
		padding 20px 30px
		background-color #23b03d
		text-align center
		color #fff
		text-transform uppercase
		cursor pointer
		font-size 1.3rem
		margin 10px 0 0 0
		border-radius 2px
		@extend .transition
		&:hover
			background-color #2ecc71
		@media screen and (max-width: $phone)
			font-size 1rem
			padding 15px 25px

	&__volume
		@extend .flex

	&__volume-item
		@extend .flex
		flex-flow column wrap
		text-align center
		margin 10px

	&__radio-btn
		position relative
		width 20px
		height 20px
		border-radius 50%
		border 1px solid #ccc
		box-shadow inset 1px 1px 1px #BDBDBD
		cursor pointer
		margin 5px
		&--active
			&::after
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				content ''
				width 10px
				height 10px
				border-radius 50%
				background-color #fcaf18
			border 1px solid #fcaf18
			box-shadow none

	&__amount
		@extend .flex
		margin 10px 0 0 0

	&__amount-count
		width 64px
		@extend .flex
	
	&__amount-btn
		padding 24px
		position relative
		cursor pointer	
		border-radius 3px
		&--decrement
			background-color #FFCDD2
			color #F44336
		&--increment
			background-color #DCEDC8
			color #8BC34A

	&__amount-icon
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)

	&__price
		@extend .flex
		padding 10px 20px
		font-size 2rem
		margin 10px 0 0 0
		font-weight 700

