@import 'nib'

.likearts-content 

	.certificate
		display flex
		flex-flow row wrap
		justify-content center
		align-items center

	.certificate__item
		width 100%
		max-width 250px
		margin 20px
		cursor pointer
		@media screen and (max-width: $phone)
			max-width 200px
