<div class="cart js-cart">
	<div hm-tap="$ctrl.closeCart()" class="cart__close-btn">
		<i class="material-icons cart__icon">close</i>
	</div>
	<div class="cart__title">Ваш заказ:</div>
	<ul ng-scrollbars ng-if="$ctrl.cart.length > 0" class="cart__list">
		<li ng-repeat="item in $ctrl.cart" class="cart__item">
			<span>
				{{ ::$index + 1 }}. 
				{{ ::item.name }} 
				<br>
				<span class="cart__item-detail">({{ ::item.amount }} шт. по {{ ::item.volume }} л. на сумму {{ ::(item.price * item.amount * item.volume) }} р.)</span>
			</span>
			<span hm-tap="$ctrl.deleteFromCart(item.id)" class="cart__delete-btn">
				<i class="material-icons cart__delete-icon">delete</i>
			</span>
		</li>
	</ul>
	<ul ng-if="$ctrl.cart.length === 0" class="cart__list">
		<li class="cart__item">
			В вашей корзине пока пусто :(
		</li>
	</ul>
	<div ng-if="$ctrl.cart.length > 0" class="cart__sum">
		Сумма заказа: {{ $ctrl.sum }}
	</div>

	<form 
		ng-if="$ctrl.cart.length > 0" 
		name="PhoneForm" 
		novalidate 
		valdr-type="PhoneForm" 
		role="form" 
		class="cart__form">
		<ul class="cart__notice">
			<li>1. Заполните ваш номер телефона для связи</li>
			<li>2. Нажмите на кнопку «Оформить заказ»</li>
			<li>3. Затем выберите способ оплаты</li>
		</ul>
		<div  class="btn-container">
			<div class="input-group cart__input-group">
				<input 
					ng-model="$ctrl.phone" 
					type="text" 
					id="phone"
					name="phone" 
					placeholder="Ваш номер телефона" 
					class="form-control cart__input" 
					required>
			</div>
			<button 
				hm-tap="$ctrl.showModal('order-modal'); $ctrl.sendLetter();" 
				ng-disabled="PhoneForm.$invalid" 
				ng-class="{'disabled': PhoneForm.$invalid}" 
				class="cart__order-btn">
				Оформить заказ
			</button>
		</div>
	</form>

	<div class="cart__brand">
		Башкирский мёд
	</div>
	<button 
		ng-if="$ctrl.cart.length > 0"
		hm-tap="$ctrl.clearCart()"
		class="cart__clear-btn">
		Очистить корзину
	</button>
	
</div>

<div cart-btn class="cart-btn" hm-tap="$ctrl.openCart()">
	<i ng-if="$ctrl.cart.length === 0" class="material-icons cart-btn__icon">add_shopping_cart</i>
	<i ng-if="$ctrl.cart.length > 0" class="material-icons cart-btn__icon">shopping_cart</i>
	<span class="cart-btn__count">{{ $ctrl.cart.length }}</span>
</div>

<script type="text/ng-template" id="order-modal">
	<div modal-type="new-order" class="bash-modal">
		<div class="bash-modal__header">Форма оплаты</div>
		<div class="bash-modal__body">
			<div iframe-order></div>
		</div>
	</div>
</script>