@import 'nib'

.likearts-content 

	.section--4
		height auto
		min-height 750px
		background-color #fff
		padding 65px 0
		@media screen and (max-width: $phone)
			min-height 0

		.content
			position relative
			width 100%
			height auto