@import 'nib'

.likearts-content 

	.section--4
		height auto
		min-height 750px
		background-color #fff
		padding 65px 0
		@media screen and (max-width: $phone)
			min-height 0

		.content
			position relative
			width 100%
			height auto

		.btn-container
			display flex
			flex-flow row wrap
			justify-content flex-end
			align-items center
			margin 20px 0

		.feed-btn
			display inline-block
			background-color #23b03d
			padding 10px 30px
			color #fff
			border-radius 3px
			text-transform uppercase
			cursor pointer
			user-select none