@import 'nib'
	
.likearts-content .header
	padding 20px 0
	@extend .flex
	justify-content space-between
	@media screen and (max-width: $phone)
		flex-flow row wrap
		justify-content center
	&__logo
		width 320px
		height 116px
		@extend .cover
		background-image url('../../../resources/img/logo/logo.png')
		@media screen and (max-width: 992px)
			width 213.33px
			height 77.33px
		@media screen and (max-width: $phone)
			width 160px
			height 58px