<div class="certificate">
	<div class="certificate__item" ng-click="$ctrl.showModal('certificate-1')">
		<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="cert">
		<script type="text/ng-template" id="certificate-1">
			<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="cert">
		</script>
	</div>
	<div class="certificate__item" ng-click="$ctrl.showModal('certificate-2')">
		<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="cert">
		<script type="text/ng-template" id="certificate-2">
			<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="cert">
		</script>
	</div>
	<div class="certificate__item" ng-click="$ctrl.showModal('certificate-3')">
		<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="cert">
		<script type="text/ng-template" id="certificate-3">
			<img class="img-responsive" src="./resources/img/content/cert-1.jpg" alt="cert">
		</script>
	</div>
</div>